body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.register-box {
    background: rgba(125, 80, 127, 0.566);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: auto;
}

.register-box input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 14px;
    border: 3px solid black;
}
.register-box label {
    font-size: 12px;  
    margin-bottom: 5px;
    display: block;
}
select#id_security_question.form-control {
    all: unset;
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 12px;
    border: 3px solid black;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    appearance: none;
}

.pixel-btn {
    font-family: 'Press Start 2P', cursive;
    background: #4CAF50;
    color: white;
    padding: 10px 15px;
    text-align: center;
    border: 3px solid black;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 3px 3px 0 black;
}

.password-hint {
    font-size: 10px;  
    color: #d32f2f;   
    margin-top: 5px;
}

.home-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(125, 80, 127, 0.566);
    color: white;
    padding: 6px 10px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 2px 2px 0 black;
  }
  
  .home-btn:hover {
    background: rgba(236, 43, 243, 0.616);
  }
  .existing-user-text {
    font-family: "Press Start 2P", cursive;
    font-size: 10px;  
    text-align: center;
    margin-top: 10px; 
    color: #7a7a7a; 
}

.existing-user-text a {
    font-size: 10px; 
    color: rgb(198, 255, 209);
    text-decoration: none; 
}

.existing-user-text a:hover {
    text-decoration: underline; 
}
