asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1733215607532/work
certifi==2024.12.14
charset-normalizer==3.4.1
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1733376776721/work
djangorestframework==3.15.2
idna==3.10
numpy==2.2.1
pandas==2.2.3
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1735929746402/work
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.17.0
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1734007102193/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata==2024.2
urllib3==2.3.0
